{{ $item := . }}

<div class="paper-item row view-citation" style="">


  <div class="col-12 col-md-4">
    <div class="pub-image">
      <a class="btn   btn-page-header btn-sm" target="_blank" href="{{ $item.link }}">
      <img alt="" src="{{ $item.image | relURL }}" />
      </a>
    </div>
  </div>
  <div class="col-12 col-md-8">
    <div class="pub-title"><i class="far fa-file-alt pub-icon" aria-hidden="true"></i> {{ $item.title | markdownify | safeHTML}}</div>
    <div class="pub-author">{{ $item.authors_text | markdownify | safeHTML}}</div>
    <div class="pub-journal">
      <span class="j-name">{{ $item.journal | markdownify | safeHTML}}</span>
      <span class="p-year">({{$item.year}})</span>
    </div>
  </div>


</div>
