{{- define "main" -}}


{{ partial "page_header.html" . }}

{{/*<div class="news-page-bg1 d-flex justify-content-center align-items-center"
     style="background-image: url({{"images/design/news-bg.webp" | relURL }}")>
    <h1 class="news-page-title">{{.Title}}</h1>
</div>*/}}
<div class="universal-wrapper mt-5 page-news-list">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}


  <div class="news-list-wrap">
      {{ range $index, $item := .Params.news_list }}

        <div class="grid-sizer col-lg-12 isotope-item pubtype-pub">
            <div class="news-item">
              <div class="news-date">{{$item.date | markdownify}}</div>
              <div class="news-title">{{$item.title | markdownify}}</div>
            </div>
        </div>

      {{ end }}
  </div>
</div>

{{- end -}}
